html,
body {
  width: 100%;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow-x: auto;
}

/* Styles for larger screens with padding */
@media (min-width: 768px) {
  .task-list-container {
    padding: 0 50px;
  }
}

/* Styles for smaller screens without padding */
@media (max-width: 767px) {
  .task-list-container {
    padding: 0;
  }
}

/* Styles for the Ant Design table */
.ant-table {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
}


#taskmain {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  width: 100%;

  /* padding-top: 100px; */
  /* margin-bottom: 100px; */
  /* input.input, button.button {
      border-radius: 0;
    }
    button.button {
      border-radius: 0 0 4px 4px;
    }
    .list {
      margin-top: 50px;
    } */
}

/* Add these styles to explicitly set the column widths */
.ant-table-column-title,
.ant-table-tbody > tr > td {
  width: auto !important; /* Set the width as needed */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}


li.list-item.is-complete * {
  text-decoration: line-through;
  color: hsl(0, 0%, 71%);
}

.taskinput {
  width: 500px;
  background-color: black;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #ffffff;
  margin-left: 450px;
  padding-left: 20px;
}

.submit {
  align-self: flex-start;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.taskinput::placeholder {
  color: #ffffff;
}

/* TASK ITEM CSS */
/* Style the table */
table {
  justify-content: space-between;
  width: 100%;
  border-collapse: collapse;
  display: block; /* Change display to block */
}


/* Style the task list rows */
.task-list {
  background-color: white;
  width: 100%; /* Set width to 100% */
  display: block; /* Change display to block */
  border-radius: 10px;
  box-shadow: #f5f5f5 0px 4px 16px 0px;
  margin-bottom: 10px; /* Add margin as needed */
}


/* Style the checkbox */
.task-checkbox {
  /* margin-top: 24px;
  margin-left: 20px; */
  width: 20px; /* Set your desired width */
  height: 20px; /* Set your desired height */
}

/* Style the task title */
/* .task-title {
  margin-left: 0px;
  font-size: 20px;
} */

/* Reset default styles for p tags inside .task-title */
.task-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}



/* Style the delete button */
.task-delete-btn {
  
}

.task-delete-btn:hover {
  background-color: #ff0000;
  cursor: pointer;
}

/* tr {
  margin-bottom: 10px;
} */

/* Style the add task SECTION */

/* .footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  left: 0;
  padding: 1rem;
  background-color: #efefef00;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line to center vertically */
 

  .footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    left: 0;
    padding: 1rem;
    background-color: #efefef00;
    text-align: center;
    display: flex;
    flex-direction: column; /* Change to column direction */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some gap between the elements */
  }
  

.task-item {

}

/* .priority{
  margin-bottom: 40px;
  display: flex;
  justify-content:center;
  align-items: center;

} */


.priority{
  height: 40px; /* Set a fixed height for the priority div */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.red{
  height: 40px;
  width: 130px;
  background-color:white;
  border: 2px solid #ff0000;
  color: #ff675c;
  border-radius: 50px;
  margin-right: 20px;
}

.red:hover{
  background-color: #ff0000;
  cursor: pointer;
  color: white;
}

.orange{
  height: 40px;
  width: 130px;
  background-color:white;
  border: 2px solid #ff9900;
  color: #ff9900;
  border-radius: 50px;
  margin-right: 20px;
}

.orange:hover{
  background-color:#ff9900;
  cursor: pointer;
  color: white;
}

.green{
  height: 40px;
  width: 130px;
  background-color:white;
  border: 2px solid #50C878;
  color: #50C878;
  border-radius: 50px;
}

.green.selected{
  background-color: #50C878;
}

.green:hover{
  background-color:#50C878;
  cursor: pointer;
  color: white;
}

.priority-box {
  width: 30px;
  height: 10px;
  border-radius: 20px;
 
  display: inline-flex;
}

/* Style the priority colors */

.h{
  background-color: #ff0000;
}

.m{
  background-color:#ff9900;
}

.l{
  background-color:#50C878;
}

.datetimepicker{
  border: none;
}

.datetime{
  background-color:#f6f9fb;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  margin-right: 600px;
  width: 20px;
  border: none;
  outline: none;
  border :none;

}

.red.selected {
  background-color: #ff0000;
  color: white;
}

.orange.selected {
  background-color: #ff9900;
  color: white;
}

.green.selected {
  background-color: #50c878;
  color: white;
}


tr {
  height: 10px;
}

tr td {
   height: auto !important;
}